development:
  adapter:  postgresql
  host:     postgres.inner.clackypaas.com
  encoding: unicode
  database: wblog_development
  pool:     5
  username: postgres_yxdtzualyhnwzweqtbwq
  password: NuZgPcrW
  template: template0

test:
  adapter:  postgresql
  host:     postgres.inner.clackypaas.com
  encoding: unicode
  database: wblog_test
  pool:     5
  username: postgres_yxdtzualyhnwzweqtbwq
  password: NuZgPcrW
  template: template0

production:
  adapter:  postgresql
  host:     postgres.inner.clackypaas.com
  encoding: unicode
  database: wblog_production
  pool:     16
  username: postgres_yxdtzualyhnwzweqtbwq
  password: NuZgPcrW
  template: template0